.pic-cont{
    height:250px;
    width: 106%;
    background: #00374C;
    margin: -3% -3% -3% -3%;
}

.inverted{
    filter: invert(100%);
}

#but1{
    height:50px;
    width:50px;
    background: #00374C;
    border-width:0px;
    border: none;
}

#img-but1{
    width: 100%;
    border: none;
}

#avatar-img{
    vertical-align: middle;
    align-content: center;
    margin: -15px 0 0 0;
    border-radius: 50%;
    width:130px;
    height: 130px;
    object-fit: cover;
    border: 5px solid #f2d800;
}

.white-font{
    color:white;
}

.orange-font{
    color:#F36404;
}

.icon{
    width: 20px;
    height:20px;
}

.more-det{
    margin: 0 0 0 30;
}
.det1{
    width: 33%;
    float: left;
}

.det2{
    margin: 2 0 0 0;
    width: 67%;
    float: right;
}