<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="profile.css">
    </head>
    <body>
        <div class="container-h">
            <div id="bar1">
                <div id="pro-logo">Pro</div>-Book
            </div>
            <div id="log" align="middle">
                <img id="logout" src="shutdown.png" alt="logout" width="60%" >

            </div>
        </div>
        <div id="bar2"  class="container-h">
            <div class="inactive-bar" align="middle">
                Browse
            </div>
            <div class="inactive-bar" align="middle">
                History
            </div>
            <div class="active-bar" align="middle">
                Profile
            </div>
        </div>
        <div class="container-v">

        </div>
    </body>

</html>