.content > h1 {
    margin-bottom: 20px;
}

.content > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content .list-content {
    margin: 0 0 30px 0;
}

.content .list-content .image-holder {
    border: 1px solid #898989;
}

.content .list-content .image-holder img {
    display: block;
    height: 100px;
    margin: auto;

}

.content .flex-container {
    display: flex;
    justify-content: stretch;
}

.content .flex-container > div {
    width: 100px;
    font-size: 12px;
}

.content .flex-container > div.left-text-holder {
    flex-grow: 1;
    margin: 0 10px;
}

.content .flex-container > div.right-text-holder {
    text-align: right;
    width: 50px;
    position: relative;
}

.content .flex-container > div.right-text-holder > .detail-button {
    position: absolute;
    bottom: 1px;
    right: 1px;
}

.content .flex-container > div.right-text-holder > .detail-button > a {
    display: block;
    border-radius: 5px;
    background-color: #04aeee;
    color: white;
    padding: 5px 25px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.content h2 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 20px;
    color: rgb(242, 102, 0);
}
