.content {
    margin-left: 10px;
    margin-right: 10px;
}

.content .flex-container {
    display: flex;
    justify-content: stretch;
    margin-top: 20px;
}

.content h2 {
    color: #01384E;
    margin: 20px 0px 10px 0px;
    /* margin-top: 10px; */
}

.content h3 {
    color: #4E4E4E;
    margin: 0px;
    font-size: 14px;
}

.content .detail-holder {
    width: 100%;
    margin: 0px;
}

.content .image-holder {
    width: max-content;
}

.image-holder img {
    height: 100px;
    width: 100px;
    float: right;
}

#comment {
    resize: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

#back {
    float: left;
    background-color: #FFFFFF;
    color: #DF3F4A;
    font-size: 16px;
    border: 1px solid #DF3F4A;
    border-radius: 8px;
    width: 100px;
    cursor: pointer;
}

#back:hover {
    background-color: #DF3F4A;
    color:#FFFFFF;
}

#submit {
    float: right;
    background-color: #188BCD;
    color: #FFFFFF;
    font-size: 16px;
    border: 1px solid #188BCD;
    border-radius: 8px;
    width: 100px;
    cursor: pointer;
}

#submit:hover {
    background-color: #157db8;
    border: 1px solid #157db8;
    /* color:#188BCD;
    border: 1px solid #188BCD; */
}


/* .content > h1 {
    margin-bottom: 20px;
}

.content > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content .list-content {
    margin: 0 0 30px 0;
}

.content .list-content .image-holder {
    border: 1px solid rgb(70, 70, 70);
}

.content .list-content .image-holder img {
    display: block;
    height: 100px;
    margin: auto;

}

.content .flex-container {
    display: flex;
    justify-content: stretch;
}

.content .flex-container > div {
    width: 100px;
    font-size: 12px;
}

.content .flex-container > div.left-text-holder {
    flex-grow: 1;
    margin: 0 10px;
}

.content .flex-container > div.right-text-holder {
    text-align: right;
    width: 150px;
    position: relative;
}

.content .flex-container > div.right-text-holder > .review-button {
    position: absolute;
    bottom: 1px;
    right: 1px;
}

.content .flex-container > div.right-text-holder > .review-button > a {
    display: block;
    background-color: #04aeee;
    color: white;
    padding: 5px;
    text-decoration: none;
}

button {
    background-color: #04aeee;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 6px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.content h2 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 20px;
    color: rgb(242, 102, 0);
} */
